@{
	var isMarkdown = Metadata.Get<string>("Source").EndsWith(".md");
	var hasTock = Metadata.ContainsKey("toc");
}
<!DOCTYPE html>
<html lang="en-us">
<head>
	<meta charSet="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<partial name="_Head" />
	<link rel="stylesheet" href="@Context.GetLink("/styles/index.css")" />
</head>
<body>
	<partial name="_Header" />

	<main id="main" class="container is-fluid">
		<div class="columns is-variable is-1">
			@if (isMarkdown)
			{
				@if (hasTock)
				{
					<div class="column is-2">
						<partial name="_SideBar" />
					</div>
				}

				<div class="column">
					<div class="content">
						@RenderBody()
					</div>
				</div>
			}
			else
			{
				<div class="column">
					@RenderBody()
				</div>
			}
		</div>
	</main>

	<br /><br />

	<partial name="_Footer" />

	@*<partial name="_Metadata" />*@

	<script>
		hljs.configure({
			tabReplace: "    "
		});
		hljs.initHighlightingOnLoad();
	</script>
	<script src="@Context.GetLink("/scripts/header.js")"></script>
	<script src="@Context.GetLink("/scripts/sidebar.js")"></script>
	@RenderSection("Scripts", required: false)
</body>
</html>
