@{
	var isMarkdown = Metadata.Get<string>("Source").EndsWith(".md");
	var hasTock = Metadata.ContainsKey("toc");
}
<!DOCTYPE html>
<html lang="en-us">
<head>
	<meta charSet="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="apple-touch-icon" sizes="57x57" href="@Context.GetLink("/favicons/apple-icon-57x57.png")" />
	<link rel="apple-touch-icon" sizes="60x60" href="@Context.GetLink("/favicons/apple-icon-60x60.png")" />
	<link rel="apple-touch-icon" sizes="72x72" href="@Context.GetLink("/favicons/apple-icon-72x72.png")" />
	<link rel="apple-touch-icon" sizes="76x76" href="@Context.GetLink("/favicons/apple-icon-76x76.png")" />
	<link rel="apple-touch-icon" sizes="114x114" href="@Context.GetLink("/favicons/apple-icon-114x114.png")" />
	<link rel="apple-touch-icon" sizes="120x120" href="@Context.GetLink("/favicons/apple-icon-120x120.png")" />
	<link rel="apple-touch-icon" sizes="144x144" href="@Context.GetLink("/favicons/apple-icon-144x144.png")" />
	<link rel="apple-touch-icon" sizes="152x152" href="@Context.GetLink("/favicons/apple-icon-152x152.png")" />
	<link rel="apple-touch-icon" sizes="180x180" href="@Context.GetLink("/favicons/apple-icon-180x180.png")" />
	<link rel="icon" type="image/png" sizes="192x192" href="@Context.GetLink("/favicons/android-icon-192x192.png")" />
	<link rel="icon" type="image/png" sizes="32x32" href="@Context.GetLink("/favicons/favicon-32x32.png")" />
	<link rel="icon" type="image/png" sizes="96x96" href="@Context.GetLink("/favicons/favicon-96x96.png")" />
	<link rel="icon" type="image/png" sizes="16x16" href="@Context.GetLink("/favicons/favicon-16x16.png")" />
	<link rel="manifest" href="@Context.GetLink("/manifest.json")" />
	<meta name="msapplication-TileColor" content="#ffffff" />
	<meta name="msapplication-TileImage" content="/ms-icon-144x144.png" />
	<meta name="theme-color" content="#ffffff" />
	<title>@Metadata.Get("title") | CsvHelper</title>

	<environment include="Development">
		<link rel="stylesheet" href="../../lib/bulma/bulma.css" />
	</environment>
	<environment exclude="Development">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.1/css/bulma.min.css" />
	</environment>
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/styles/default.min.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/styles/vs.min.css" />
	<link rel="stylesheet" href="@Context.GetLink("/styles/index.css")" />

	<script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js"></script>
</head>
<body>
	<partial name="_Header" />

	<main id="main" class="container is-fluid">
		<div class="columns is-variable is-1">
			@if (isMarkdown)
			{
				@if (hasTock)
				{
					<div class="column is-2">
						<partial name="_SideBar" />
					</div>
				}

				<div class="column">
					<div class="content">
						@RenderBody()
					</div>
				</div>
			}
			else
			{
				<div class="column">
					@RenderBody()
				</div>
			}
		</div>
	</main>

	<partial name="_Footer" />

	@*<partial name="_Metadata" />*@

	<script>
		hljs.configure({
			tabReplace: "    "
		});
		hljs.initHighlightingOnLoad();
	</script>
	<script src="@Context.GetLink("/scripts/header.js")"></script>
	<script src="@Context.GetLink("/scripts/sidebar.js")"></script>
	@RenderSection("Scripts", required: false)
</body>
</html>
