<div>
    @foreach (IDocument post in Document.GetChildren())
    {
        IDocument topicDocument = OutputPages[$"news/topics/{post.GetString("topic")}/index.html"].First();
        string excerpt = post.GetString(Keys.Excerpt);
        <div>
            <div class="p-3 mb-2 bg-light page-box">
                <h4>@Html.DocumentLink(post)</h4>
                <div class="small text-black-50">
                    @post.GetDateTime("Published").ToLongDateString() in
                    <a href="@(topicDocument.GetLink())"><span class="badge badge-light">@topicDocument.GetTitle()</span></a>
                </div>
                @if (!string.IsNullOrEmpty(excerpt))
                {
                    @Html.Raw(excerpt)
                    <p class="small"><a href="@Context.GetLink(post)">Read more...</a></p>
                }
            </div>
        </div>
    }
    @{
        IDocument older = Document.GetDocument(Keys.Next);
        IDocument newer = Document.GetDocument(Keys.Previous);
    }
    @if (older != null || newer != null)
    {
        <div>
            <div class="float-sm-left">
                @if (newer != null)
                {
                    <a class="btn btn-primary" href="@Context.GetLink(newer)" role="button"><i class="fas fa-angle-double-left"></i> Newer</a>
                }
            </div>
            <div class="float-sm-right">
                @if (older != null)
                {
                    <a class="btn btn-primary" href="@Context.GetLink(older)" role="button">Older <i class="fas fa-angle-double-right"></i></a>
                }
            </div>
        </div>
    }
</div>